body {
    background-color: #1c1c1c;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DE1616;
    padding: 10px 20px;
    height: 60px;
}

.logo {
    margin-top: 12px;
    font-size: 50px;
    color: #FAF8F1;
    font-family: "Iceberg", sans-serif;
}

.delivery-partner-info {
    box-shadow: 2px -1px 22px 5px #DE1616;
    margin: 30px;
    font-family: "Iceberg", sans-serif;
    color: white;
    background-color: black;
    padding: 70px;
    border-radius: 10px;
}

.res-image{
    border-radius: 40px;
    padding: 20px 20px;
    height: auto;
    width: 50%;
}
